/*分页*/
.page{ clear:both; margin:20px auto; width:100%;}
.page ul{ width:330px;float:left; margin:0;}
.page ul li{ border:#000 1px solid; text-align:center;margin:0; line-height:20px; float:left; padding: 0 5px; height:20px; margin-left:4px; }
.page ul li.noBorder{ border:none; }
.page ul li.noPage{}
.page ul li.mouseOver{ background-color:#da9c9d;cursor:pointer; }
.page ul li.curPage{ border:#b82b33 1px solid;background-color:#da9c9d; }
.page span{ width:125px; float:right; display:block; color:#b6b6b6; position:relative;}
.page .Gotext{ border:#a7a9ac 1px solid; width:30px;}

.miniPager{ clear:both;margin:20px auto;width:100%;}
.miniPager ul{ width:150px;float:left; margin:0;}
.miniPager ul li{ border:#000 1px solid; text-align:center;margin:0; line-height:20px; float:left; padding: 0 5px; height:20px; margin-left:4px; }
.miniPager ul li.noPage{}
.miniPager ul li.mouseOver{ background-color:#da9c9d;cursor:pointer; }
/*End分页*/