/* CSS Document */
/*第一块*/
.tanchu{ margin:auto auto; width:998px;}
.tanchus{ width:998px; margin:0 auto; height:52px;}
.tanchu-tel{ background:url(../../images/tel-03.png) no-repeat; width:982px;; height:52px; float:left;}
.tanchu-tel img{ float:left; height:52px;}
.tanchu-tel span{ float:right; line-height:52px; color:#FFF; margin:0 10px 0 0; display:inline;}
.tanchu-tel span a{ float:right; line-height:52px; color:#FFF; margin:0 10px 0 0; display:inline;}
.tanchu-tel span a:hover{line-height:52px; color:#FFF;}
.tanchu-tel-right{ background:url(../../images/tel-bg.png) no-repeat; height:52px; width:16px; float:right;}
.tanchu-co{ width:982px; margin:0 auto; background:url(../../images/right-bg.png) repeat-y right; padding-right:16px; float:left;}
.tanchu-cos{ width:980px; float:left; border-left:1px solid #3CA6D4;}
.tanchu-cos ul{ width:980px; float:left; margin:43px 0 0 0;}
.tanchu-cos li{ width:980px; float:left; background:#EAEAEB; margin-bottom:43px; line-height:43px; font-size:14px;}
.tanchu-cos li dl{ width:980px; height:43px; float:left;}
.tanchu-cos li dt{ width:83px; float:left; color:#0055AC; font-weight: bold; text-align:center;}
.tanchu-cos li dd{ width:125px; float:left; text-align:center; color:#0055AC;}
.tanchu-cos li dd a{ width:125px; float:left; text-align:center; color:#0055AC;}
.tanchu-cos li dd a:hover{ width:125px; float:left; text-align:center; background:#B8030D; display:block; color:#FFF;}
.tanchu-bottom{width:998px; float:left; margin:0;}
.tanchu-bottom-left{ width:17px; height:16px; float:left;}
.tanchu-bottom-con{ background:url(../../images/bottom-bg.png) repeat-x; float:left; width:965px; height:16px;}
.tanchu-bottom-right{ width:16px; height:16px; float:left;}

/*第二块*/
.tanchub{ margin:20px auto; width:686px;}
.tanchusb{ width:686px; margin:0 auto; height:52px;}
.tanchub-tel{ background:url(../../images/tel-02.png) no-repeat; width:670px;; height:52px; float:left;}
.tanchub-tel img{ float:left; height:52px;}
.tanchub-tel span{ float:right; line-height:52px; color:#FFF; margin:0 10px 0 0; display:inline;}
.tanchub-tel span a{ float:right; line-height:52px; color:#FFF; margin:0 10px 0 0; display:inline;}
.tanchub-tel span a:hover{line-height:52px; color:#FFF;}
.tanchub-tel-right{ background:url(../../images/tel-bg.png) no-repeat; height:52px; width:16px; float:right;}
.tanchub-co{ width:670px; margin:0 auto; background:url(../../images/right-bg.png) repeat-y right; padding-right:16px; float:left;}
.tanchub-cos{ width:669px; float:left; border-left:1px solid #3CA6D4;}
.tanchub-cos ul{ width:669px; float:left; margin:43px 0 0 0;}
.tanchub-cos li{ width:669px; float:left; background:#EAEAEB; margin-bottom:43px; line-height:43px; font-size:14px;}
.tanchub-cos li dl{ width:669px; height:43px; float:left;}
.tanchub-cos li dt{ width:83px; float:left; color:#0055AC; font-weight: bold; text-align:center;}
.tanchub-cos li dd{ width:115px; float:left; text-align:center; color:#0055AC;}
.tanchub-cos li dd a{ width:115px; float:left; text-align:center; color:#0055AC;}
.tanchub-cos li dd a:hover{ width:115px; float:left; text-align:center; background:#B8030D; display:block; color:#FFF;}
.tanchub-bottom{width:686px; float:left; margin:0;}
.tanchub-bottom-left{ width:17px; height:16px; float:left;}
.tanchub-bottom-con{ background:url(../../images/bottom-bg.png) repeat-x; float:left; width:653px; height:16px;}
.tanchub-bottom-right{ width:16px; height:16px; float:left;}


/*第三块*/
.tanchuc{ margin:auto auto; width:408px;}
.tanchusc{ width:408px; margin:0 auto; height:52px;}
.tanchuc-tel{ background:url(../../images/tel-bg01.png) no-repeat; width:392px;; height:52px; float:left;}
.tanchuc-tel img{ float:left; height:52px;}
.tanchuc-tel span{ float:right; line-height:52px; color:#FFF; margin:0 10px 0 0; display:inline;width: 60px;}
.tanchuc-tel span a{ float:right; line-height:52px; color:#FFF; margin:0 10px 0 0; display:inline;}
.tanchuc-tel span a:hover{line-height:52px; color:#FFF;}
.tanchuc-tel-right{ background:url(../../images/tel-bg.png) no-repeat; height:52px; width:16px; float:right;}
.tanchuc-co{ width:392px; margin:0 auto; background:url(../../images/right-bg.png) repeat-y right; padding-right:16px; float:left;}
.tanchuc-cos{ width:391px; float:left; border-left:1px solid #3CA6D4;}
.tanchuc-cos ul{ width:391px; float:left; margin:43px 0 0 0;}
.tanchuc-cos li{ width:391px; float:left; background:#EAEAEB; margin-bottom:43px; line-height:43px; font-size:14px;}
.tanchuc-cos li dl{ width:391px; height:43px; float:left;}
.tanchuc-cos li dt{ width:83px; float:left; color:#0055AC; font-weight: bold; text-align:center;}
.tanchuc-cos li dd{ width:105px; float:left; text-align:center; color:#0055AC;}
.tanchuc-cos li dd a{ width:105px; float:left; text-align:center; color:#0055AC;}
.tanchuc-cos li dd a:hover{ width:105px; float:left; text-align:center; background:#B8030D; display:block; color:#FFF;}
.tanchuc-bottom{width:408px; float:left; margin:0;}
.tanchuc-bottom-left{ width:17px; height:16px; float:left;}
.tanchuc-bottom-con{ background:url(../../images/bottom-bg.png) repeat-x; float:left; width:375px; height:16px;}
.tanchuc-bottom-right{ width:16px; height:16px; float:left;}