<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 


<mapper namespace="com.fc.flf.account.mapper.LoginMapper">

  <cache />
  
  <resultMap type="FcSysVisitor" id="FcSysVisitorRes">
		<id column="visitor_id" property="visitorId"/>
		<result column="visitor_name" property="visitorName"/>
		<result column="visitor_password" property="visitorPassword"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="visitor_status" property="visitorStatus"/>
		<result column="visitor_type" property="visitorType"/>
		<result column="login_time" property="loginTime"/>
		<result column="login_ip" property="loginIp"/>
		<result column="is_online" property="isOnline"/>
		<result column="register_time" property="registerTime"/>
		<result column="expried_date" property="expriedDate"/>
	</resultMap>

  <select id="getVisitorById" resultMap="FcSysVisitorRes">
    SELECT fsv.visitor_id,fsv.visitor_name,fsv.visitor_password,fsv.email,fsv.phone,fsv.visitor_status,
    fsv.visitor_type,fsv.login_time,inet_ntoa(fsv.login_ip),fsv.register_time,fsv.expried_date 
    FROM fc_sys_visitor fsv
	WHERE fsv.visitor_name = #{loginId}
  </select>
  
  <select id="checkEmail" resultMap="FcSysVisitorRes">
    SELECT fsv.email, fsv.visitor_type
    FROM fc_sys_visitor fsv
	WHERE fsv.email = #{email}
  </select>
  
  <update id="updateVisitorLoginInfo" parameterType="com.fc.flf.common.domain.FcSysVisitor">
  	UPDATE fc_sys_visitor
		<set>
			<if test="loginTime != null">login_time=#{loginTime},</if>
			<if test="loginIp != null">login_ip=inet_aton(#{loginIp}),</if>
			is_online = 1
		</set>
		WHERE visitor_name=#{visitorName}
  </update>
  
  <update id="updateLoginStatus" parameterType="com.fc.flf.common.domain.FcSysVisitor">
  	UPDATE fc_sys_visitor
  	SET	is_online = #{isOnline}
  	WHERE visitor_name = #{visitorName}
  </update>
  
  <update id="updateUserPassword" parameterType="com.fc.flf.common.domain.FcSysVisitor">
  	UPDATE fc_sys_visitor
  	SET	visitor_password = #{visitorPassword}
  	WHERE email = #{email}
  </update>
  
</mapper>