<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.fc.flf.portal.mapper.ICustomerSkimUserMapper">

	<resultMap id="CustomerSkimUserMap" type="CustomerSkimUser">
		<result property="skimId" column="skim_id"/>
		<result property="userId" column="user_id"/>
		<result property="visitorId" column="visitor_id"/>
		<result property="skimDate" column="skim_date"/>
	</resultMap>

</mapper>