

.geren-z{ width:507px; margin:30px 0 0 5px; float:left; line-height:28px; display:inline;}
.geren-z span{ width:504px; text-align:left; font-size:13px; color:#bb0e13; line-height:28px;}
.geren-z ul{ width:507px; float:left;}
.geren-z li{ width:100px; float:left; margin:0 1px 0 0;}
.geren-ts{ width:504px; margin:40px 0 0 5px; float:left; display:inline;}
.geren-ts ul{ border-bottom:1px solid #CCCCCC; padding:0 0 0 20px; float:left; width:480px; display:inline; height:25px; margin:0 0 0 5px;}
.geren-ts ul img{ float:right; margin:8px 0 0 0;}
.geren-ts li{line-height:24px; float:left; margin:0 1px 0 0; color:#FFFFFF; height:24px;}
.geren-ts li a{ color:#FFFFFF; padding:0 8px 1px 8px; background-color:#DBA5A6; height:24px; display:block; float:left;}
.geren-ts li a:hover{ color:#B90D1B;}
.geren-ts ul span{ color:#000000;}
.geren-ts ul #cuter{ border-left:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc; padding-bottom:1px; z-index:10; background-color:#EAEAEB; height:25px; display:block; color:#B90D1B; padding:0 8px 0px 8px; float:left;}



.geren-c{ width:500px; border-bottom:1px dashed #ccc; margin:25px 0 10px 5px; float:left; padding:0 0 10px 0; display:inline;}
.geren-c dl{ width:450px; line-height:18px; float:left;}
.geren-c dl img{ float:left; display:inline; margin:4px 8px 0 0 ;}
.geren-c dl dt{ float:left; width:360px; color:#878787;}
.geren-c dl dt span{ color:#005CA8; margin:0 3px 0 0;}
.geren-c dl dd{ margin:0; float:left; color:#000; width:360px;}
.geren-c .pu{ float:right; width:40px; color:#005CA8; margin:10px 0 0 0;}
.geren-c .pu li a{ color:#005CA8; text-decoration:underline; }
.geren-c .pu li a:hover{ color:#005CA8; text-decoration:underline; }
/*客户*/
.geren-t{ width:498px; margin:40px 0 0 4px; float:left;}
.geren-t ul{ border-bottom:1px solid #CCCCCC; padding:0 0 0 20px; float:left; width:476px; display:inline; height:25px;}
.geren-t ul img{ float:right; margin:8px 0 0 0;}
.geren-t li{line-height:24px; float:left; margin:0 1px 0 0; color:#fff; height:24px; font-weight:bold;}
.geren-t li a{ color:#fff; padding:0 8px 1px 8px; background-color:#DBA5A6; height:24px; display:block; float:left;}
.geren-t li a:hover{ color:#B90D1B;}
.geren-t ul span{ color:#000000;}
.geren-t ul #cuter{ border-left:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc; padding-bottom:1px; z-index:10; background-color:#EAEAEB; height:25px; display:block; color:#B90D1B; padding:0 8px 0px 8px; float:left; font-weight:bold;}

.kehu-c{ width:498px; border-bottom:1px dashed #ccc; margin:10px 0 0 4px; float:left; padding:0 0 10px 0;}
.kehu-c dl{ width:280px; line-height:22px; float:left;}
.kehu-c dl img{ float:left; display:inline; margin:4px 8px 0 0 ;}
.kehu-c dl dt{ float:left; width:150px; color:#005CA8;}
.kehu-c dl dt span{ color:#005CA8; margin:0 0 0 0; float:right; width:80px; text-align:left;}
.kehu-c ul { float:right; width:208px; text-align:center;}
.kehu-c ul li{ float:right; text-align:left; line-height:24px; width:208px;}
.kehu-c ul li span{ margin:8px 0 10px 8px; float:right; color:#005CA8; text-decoration:underline;  text-align:right; display:inline;}

.multiples{ margin:20px 0 0 0px; width:507px; clear:both; overflow:hidden;}
.kehu-c ul li span a, .kehu-c ul li span a:hover{color:#005CA8; text-decoration:underline;}
.multiples{ margin:20px 0 0 0px; width:507px; clear:both; overflow:hidden;}
.multiples input{border:#0566ad 1px solid; color:#8b8bb8; font-family:"宋体"; font-size:12px; width:99px; height:18px; background-image:url(../images/selectBg.gif); background-repeat:no-repeat; vertical-align:middle; line-height:18px; float:left; margin:0 5px 0 0; }
.multiples .selectText{ background-image:none; width:165px; background-color:#eaeaeb; text-indent:5px; height:18px; line-height:18px; _width:204px; border:1px solid #0062B3;}
.multiples .selectBut{height:21px; border:none; width:41px;}


/***Y01首页***/
.Y01home{width:766px;}
.Y01homeSOSO{ width:544px; clear:both; color:#005FAC; margin:30px 0 0 4px;}
.Y01homeS-a{ float:right; margin:0 5px 0 0; display:inline;}
.Y01homeSOSO li{ float:left; width:262px; padding-left:10px; line-height:25px; margin-bottom:10px; text-align:right; display:inline;}
.Y01homeSOSO span{ float:right; width:166px;display:block;position:relative;}
.Y01homeSOSO .Y01homeSOSOinput{border:#0566ad 1px solid; color:#8b8bb8; font-family:"宋体"; font-size:12px; width:164px; height:20px; background-image:url(../images/selectBg.gif); background-repeat:no-repeat; vertical-align:middle; line-height:18px;  cursor:pointer;}
.Y01homeSOSO span .Menu {width:164px;display:none;background: #FFF; border:#0566ad 1px solid; position:absolute; top:21px; left:4px; z-index:9999;}
.Y01homeSOSO span .Menu ul{width:164px; margin-bottom:5px;}
.Y01homeSOSO span .Menu ul li{ text-align:left; width:150px;height:20px;line-height:20px;text-indent:5px; font-size:12px; color:#8b8bb8;
border-bottom:1px dashed #ccc; cursor:pointer;}
.Y01input{ width:170px; height:18px; line-height:18px; border:1px solid #0566AD; color:#8D8BBA; background:#EAEAEC;}
.Y01N{border:#0566ad 1px solid; width:48px; height:20px;background-image:url(../images/RQBg.gif); background-repeat:no-repeat; vertical-align:middle; line-height:20px;  cursor:pointer;}

.Y01Date{ width:518px; float:left; margin:30px 0 10px 0;}
.Y01Date ul{ float:right; width:260px; color:#005FAC; padding-left:10px;}
.Y01Date ul li{ float:right; width:63px; height:25px; padding-left:4px; line-height:25px;display:block;position:relative;}
.Y01Date .Menu {width:164px;display:none;background: #FFF; border:#0566ad 1px solid; position:absolute; top:21px; left:4px; z-index:9999;}
.Y01Date .Menu ul{width:164px; margin-bottom:5px;}
.Y01Date .Menu ul li{ text-align:left; width:150px;height:20px;line-height:20px;text-indent:5px; font-size:12px; color:#8b8bb8;
border-bottom:1px dashed #ccc; cursor:pointer;}
/***End Y01首页***/
/***Y2客户***/
.Y2kehu{width:250px; background:url(../images/Y2cjsj.gif) left top no-repeat; padding:40px 0 10px 0; border-bottom:1px solid #D3D3D3; color:#005eac;}
.Y2kehu li{ width:165px; height:25px; line-height:25px; padding:0 70px 0 15px;}
.Y2kehu li span{ float:right;}



.Y2fang{width:250px; background:url(../images/Y2cjsj.gif) left top no-repeat; padding:40px 0 10px 0; border-bottom:1px solid #D3D3D3; color:#005eac; margin:38px 0 0 0; float:left; display:inline;}
.Y2fang ul{ width:250px; float:left;}
.Y2fang li{ width:240px; line-height:25px; padding:0 0px 0 0px; float:left; display:inline;}
.Y2fang li span{ float:left; width:80px; text-align:center;}


/***End Y2客户***/
/***Y01首页搜索结果***/
.jiangjie{ width:755px; color:#707070; padding:0 0 0 5px; margin:20px 0 0 20px; float:left; display:inline; line-height:24px;}
.jiangjie-a{ width:755px; color:#707070; margin:20px 0 20px 20px; float:left; display:inline;}
.xiang-b{ margin:0 0 0 0; float:left;}
.Y01Result{ width:760px; height:17px; padding-top:7px; background:#D2D2D4; clear:both; overflow:hidden; color:#005FA9; float:left; margin:0 0 0 20px; display:inline;}
.Y01Result li{ float:left; width:90px; text-align:center;}
.Y01Result a{ color:#005FA9;}
.Y01Result a:hover{ color:#000;}

.Y01jg{ width:760px; margin-top:14px; clear:both; overflow:hidden; color:#707070; background:url(../images/dian.gif) left bottom repeat-x; padding-bottom:5px; float:left; margin:0 0 0 20px; display:inline;}
.Y01jg li{ float:left; width:90px; text-align:center; line-height:28px;}
.Y01-tong{ width:753px; float:left; margin:0 0 0 20px; display:inline; line-height:24px; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding-left:5px;}
/***End Y01首页搜索结果***

/***活动模块***/
.huodong{width:990px; overflow:hidden; float:left;}
.huodong_tab{width:990px; font-size:14px; color:#fff; height:25px; clear:both; overflow:hidden;}
.huodong_tab_left{ float:left; width:23px; height:24px; border-bottom:1px solid #D2D4D3;}
.huodong_tab ul{ float: left;margin:0;padding:0;}
.huodong_tab li{ height:25px; float:left; display:inline; line-height:25px; text-align:center;cursor:pointer; padding:0 8px;background:#DA9EA0; border-right:1px solid #EAEAEC;}
.huodong_tab li.on_zzjs{color:#bb0e13; border-top:1px solid #D1D2D4; border-left:1px solid #D1D2D4; border-right:1px solid #D1D2D4; background:#EAEAEC;}
.huodong_tab_right{ float:right;height:24px; line-height:24px; text-align:right; color:#005EAC; font-size:12px; padding-right:15px;}
.huodong_tab_right a{ text-align:right; color:#005EAC; text-decoration:underline;}
.huodong_tab_right a:hover{ text-align:right; color:#BB0E13;text-decoration:none;}
.huodong_status{ width:990px; height:24px; clear:both; overflow:hidden; color:#fff; font-size:14px;}
.huodong_status li{ float:left; height:24px; line-height:24px; text-align:center; border-right:1px solid #EAEAEA; background:#B9B9B9;}
.huodonglist{ width:990px;}
.huodong_list{ width:990px; clear:both; overflow:hidden; color:#005EAC; background:url(../images/dian.gif) left bottom repeat-x;}
.huodong_list li{ float:left; padding:20px 19px 15px 13px; line-height:1.6em;}
/***End活动模块***/
.tongj{ line-height:24px; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding-left:5px;}


/*分页*/
#fenyeyi{ margin:20px auto; width:500px; float:left; margin:30px 0 0 5px; display:inline;}
#fenyeyi ul{ width:350px; float:left; margin:0;}
#fenyeyi ul li{ border:#000 1px solid; text-align:center; margin:0; line-height:20px; float:left; width:20px; height:20px; margin-left:7px; }
#fenyeyi ul li a{ color:#000;}
/*#fenye ul li a:hover{background-color:#da9c9d; display:block; border:#b82b33 1px solid;}*/
#fenyeyi span{ width:150px; float:right; display:block; color:#b6b6b6; position:relative;}
#fenyeyi .Gotext{ border:#a7a9ac 1px solid; width:30px;}
/*End分页*/

/*房源*/
.fangy{ width:490px; margin:0 0 0 5px; float:left; display:inline; padding:0 5px 20px 5px;}
.fangy-c{ width:490px; border-bottom:1px dashed #ccc; margin:25px 0 0 0; float:left; padding:0 0 10px 0;}
.fangy-c dl{ width:265px; line-height:20px; float:left;}
.fangy-c .ico{ border:1px solid #ccc; padding:2px; float:left; display:inline; margin:0 8px 0 3px ; display:inline;}
.fangy-c dl dt{ float:left; width:215px; color:#878787;}
.fangy-c dl dt span{ font-weight:bold; color:#494949;}
/*.fangy-c dl dd{ float:right; width:235px; text-align:right;}
*/
.fangy-c dl dd a, .fangy-c dl dd a:hover{ color:#005CA8; text-decoration:underline; margin:0 8px 0 0; float:right;}
.fangy-c dl dd{ margin:7px 0 0 0; float:left; color:#878787; width:265px;}
.fangy-c dl dd span{ background-color:#E107CD; display:block; float:left; padding:0 5px; color:#FFFFFF; font-size:13px;}
.jiange-z{ margin:30px 0 0 0; float:left;}
.jiange-F{float:left;}
.tltle-wenzi {line-height:30px; margin-top:20px; display:block; float:left; font-size:14px;  color:#b80408;  margin-left:5px;  margin-right:3px; _margin-left:3px}
.tltle-wenziF {line-height:30px; display:block; float:left; font-size:14px;  color:#b80408;  margin-left:5px;  margin-right:3px; _margin-left:3px}
.title-line { width:145px; margin:20px 0 0 0; border-bottom:#d1d3d4 solid 1px;  display:block; float:left; height:18px;}
.title-lineF { width:145px; border-bottom:#d1d3d4 solid 1px;  display:block; float:left; height:18px;}
/*房源 end*/



/*消息*/
.xiaoxi{ width:990px; margin:0 auto;}
.xiaoxi-r{ width:466px; float:left;}
.xiaoxi-r-c{ width:466px; float:left; padding:0 0 10px 0;}
.xiaoxi-r-c .icoo{ float:left; margin:30px 0 0 0; }
.xiaoxi-r-c .cont{ width:440px; float:right; text-align:left; margin:28px 0 0 0; padding:0 0 0 10px;}
.xiaoxi-r-c .cont li{ margin:0 0 20px 0; line-height:25px;}
.xiaoxi-r-c .cont li span{ color:#005EAC;}
.xiaoxi-r-c .cont li span a, .xiaoxi-r-c .cont li span a:hover{ color:#005EAC; text-decoration:underline;}

.cont{ width:440px; float:right; text-align:left; margin:28px 0 0 0; padding:0 0 0 10px;}
.cont li{ margin:0 0 20px 0; line-height:25px;}
.cont li span{ color:#005EAC;}
.cont li span a, .xiaoxi-r-c .cont li span a:hover{ color:#005EAC; text-decoration:underline;}

.xiaoxi-rs{ width:466px; float:left; border-left:1px solid #D1D3D4;}
.xiaoxil{ width:350px; height:100px; margin:28px 30px 0 0; float:right; display:inline; border:1px solid #D1D3D4;}
.xiaoxil-tec{ line-height:12px; margin:3px 2px; border:none; background:#EAEAEB;}
.xiaoxil-tetl{ width:40px; height:20px; background:#fff; float:right; margin:5px 5px 0 0; display:inline; color:#666; line-height:18px;}



.xiaoxi-l{ width:466px; float:left;}
.xiaoxi-t{ width:990px; margin:40px 0 0 0; float:left;}
.xiaoxi-t ul{ border-bottom:1px solid #CCCCCC; padding:0 0 0 20px; float:left; width:990px; display:inline; height:25px;}
.xiaoxi-t ul img{ float:right; margin:8px 0 0 0;}
.xiaoxi-t li{  line-height:25px; float:left; margin:0 1px 0 0; z-index:10; color:#FFFFFF;}
.xiaoxi-t li a{ color:#FFFFFF; padding:0 8px 1px 8px; background-color:#DBA5A6; height:24px; display:block; float:left;}
.xiaoxi-t li a:hover{ color:#B90D1B;}
.xiaoxi-t ul span{ color:#005EAC; float:right;}
.xiaoxi-t ul #cuter{ border-left:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc; padding-bottom:1px; z-index:10; background-color:#EAEAEB; height:25px; display:block; color:#B90D1B; padding:0 8px 0px 8px; float:left;}
.xiaoxi-c{ width:446px; border-bottom:1px dashed #ccc; margin:25px 0 0 0; float:left; padding:0 0 10px 0;}
.xiaoxi-c dl{ width:388px; line-height:25px; float:left; margin:0 0 0 20px; display:inline;}
.xiaoxi-c dl img{ float:left; display:inline; margin:4px 8px 0 0 ;}
.xiaoxi-c dl dt{ float:left; width:260px; color:#878787; margin:4px 0 0 0;}
.xiaoxi-c dl dt span{ color:#005CA8; margin:0 3px 0 3px;}
.xiaoxi-c dl dd{ margin:0; float:left; color:#000; width:260px;}
.xiaoxi-c .pu{ float:right; width:30px; color:#005CA8; margin:0px 0 0 0;}
.xiaoxi-c .pu li a{ color:#005CA8; text-decoration:underline; line-height:24px;}
.xiaoxi-c .pu li a:hover{ color:#005CA8; text-decoration:underline; }
/*消息end*/
/***吃喝玩乐***/
.wbt{ width:760px; padding-bottom:30px;}
.wbt_top{ width:760px; clear:both; overflow:hidden;}
.wbt_top_left{ float:left; font-size:14px; width:90px; height:15px; color:#bb0e13;}
.wbt_top_right{ float:right; width:650px; height:15px; border-bottom:1px solid #DDDDDF; text-align:right; padding-right:16px;}
.Y7CHWL{ width:760px; padding:10px 0; clear:both; overflow:hidden;}
.Y7CHWL li{ float:left; width:190px; text-align:center; margin-bottom:10px;}
.Y7CHWL li img{ border:1px solid #fff; margin-bottom:5px;}
.Y7CHWL li span{ line-height:1.7em;}
.Y7CHWL li a{ color:#0B60B0;}
.Y7CHWL li a:hover{ color:#626262;}
/***End 吃喝玩乐***/