.conter{ width:932px; background:#FFFFFF; margin:0 auto; padding:0 29px 50px 29px; *padding:0px; *width:990px;}
.conter-con{ width:932px; margin:5px 0 5px 29px; padding:0; *float:left; display:inline;}
.top-a{ line-height:24px; padding:0 10px; margin:10px 0; width:932px; overflow:hidden;}
.top-a-l{ float:left;}
.top-a-r{ float:right; width:380px; line-height:24px;}
.top-a-r li{ margin:0 0 0 10px; float:left; padding:0 0 0 10px; overflow:hidden;}
.top-a-r .ig{
	margin:0 0 0 4px;
	float:left;
	padding:0 0 0 15px;
	overflow:hidden;
	background-image: url(../images/Vehicle.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.hot{ width:932px; margin:12px 0 30px 0; float:left;}
.hot span{ margin:0 12px 0 0;}
.text-a{ line-height:36px; font-size:18px; width:932px; text-align:left;}


.menu{ width:932px; height:34px; margin:25px auto 0px auto; line-height:32px;}
.menu ul{ padding:0 0 2px 10px; color:#FFF; float:left; width:922px; overflow:hidden; border-bottom:1px #EAEAEB solid;}
.menu ul li{ float:left; width:100px; height:32px; text-align:center; margin:0 10px 0 0; display:block;}
.menu ul li a{color:#FFF; font-size:14px; line-height:32px; background:#ACACAC; text-align:center; display:block; color:#fff !important;} 
.menu ul li a:hover, .menu ul li a#current{ color:#FFF; text-decoration:none; height:32px; display:block; background:#BB0E13; text-align:center; font-size:14px;}
.menu ul #red2{ width:40px; margin:0; text-align:center;}



.bao{ width:932px;}
.introduction{ width:932px; margin:15px;}
.introduction-a{ border:1px #ccc solid; padding:4px; width:320px; height:286px; float:left;}
.introduction-t{ margin:0 0 0 10px; float:left; border-bottom:1px dashed #ccc; padding:0 0 8px 0; display:inline;}
.introduction-t .big{ font-size:18px; color:#BB0E13;}
.introduction-t .tet{ line-height:18px; margin:8px 0 0 8px; width:545px; }

.introduction-t .tet li{ line-height:18px; color:#999; width:540px; float:left;}
.introduction-t .tet .bn{ line-height:18px; font-weight:bold;}
.introduction-t .tet .gr{ width:270px; text-align:left; float:left; line-height:18px;}
.introduction-td{width:585px; float:right; margin:10px 0 0 0;}
.introduction-td .jia{ color:#666;}
.introduction-td .jia li{ width:220px; text-align:left; float:left; line-height:24px;}
.introduction-td .top{ margin:5px 0 0 15px; float:left; width:462px;}
.introduction-td .top img{ float:left; width:45px; height:44px; margin:5px 0 0 0;}
.introduction-td .top dd{ margin:0 0 0 8px; width:170px; line-height:24px; padding:0 0 0 4px; float:left; display:inline;}
.graph{ width:932px; margin:25px 0 0 0; float:left;}
.graph-tel{ height:32px; border-bottom:1px solid #EAEAEB;}
.graph-tel .bm{ float:left; line-height:32px; margin:0 0 0 12px; font-size:13px;}
.graph-tel .tm{ float:right; line-height:32px; margin:0 5px 0 0;}
.graph-con{ width:932px;}
.graph-con{ width:932px; margin:8px 0 0 0;}
.graph-con img{ width:214px; height:160px; } 
.graph-con li{ line-height:32px; background:#EAEAEA; border:1px solid #EAEAEB; text-align:center; width:214px; float:left;}
.graph-con .gb{ margin:0 0 0 5px;}

.con-bot{ width:932px; float:left; margin:20px 0 30px 0; border-bottom:1px solid #DBDBDD;}
.con-bot-l{ float:left; margin:0 0 0 5px; display:inline;}
.con-bot-l li{background-image:url(../images/Mark01.gif); background-repeat: no-repeat; background-position: left center; padding:0 0 0 15px; width:80px; float:left; line-height:24px; color:#a00000;}
.con-bot-r{ float:right; margin:0 0 0 5px; display:inline; color:#a00000;}
.con-bot-r li{background-image:url(../images/Mark03.gif); background-repeat: no-repeat; background-position: right center; padding:0 0 0 15px; width:40px; float:right; line-height:24px;}
.con-bot-r .st{background-image:url(../images/Mark02.gif); background-repeat: no-repeat; background-position: right center; padding:0 0 0 15px; width:40px; float:right; line-height:24px; overflow:hidden;}


/*楼盘情况*/
.bookg{ width:932px; border:1px solid #EAEAEB; clear:both; border-top:none;}
.bookg-a{ width:93px; line-height:38px; border-bottom:1px solid #EAEAEB; text-align:center; font-weight:bold; font-size:14px;}
.bookg-b{ width:340px; line-height:38px; border-bottom:1px solid #EAEAEB; border-left:1px solid #EAEAEB; text-align:left; padding:0 0 0 5px;}
.bookg-c{ width:95px; line-height:38px; text-align:center; font-weight:bold; font-size:14px;}
.bookg-d{ width:340px; line-height:38px; border-left:1px solid #EAEAEB; text-align:left; padding:0 0 0 5px;}
.bookg-e{ width:93px; line-height:38px; border-bottom:1px solid #EAEAEB; text-align:center; border-left:1px solid #EAEAEB;  font-weight:bold; font-size:14px;}
.bookg-f{ width:93px; line-height:38px; text-align:center; border-left:1px solid #EAEAEB; font-weight:bold; font-size:14px;}
.bookg-tet{ width:932px; margin:15px 0 15px 0;}
.bookg-tet p{ width:932px; line-height:24px;}
.bookg-tet span{color:#a00000; font-size:13px; font-weight:bold;}

/*价格分析*/
.jiage{ margin:10px 0; padding-left:10px; width:922px;}
.jiage dl{ width:922px; line-height:28px; float:left;}
.jiage dt{ width:106px; float:left; font-weight:bold;}
.jiage dd{ width:806px; float:right;}
.jiage-a dl{ width:922px; line-height:22px; float:left; margin:10px 0 0 0;}
.jiage-a dt{ width:106px; float:left; font-weight:bold; border-bottom:1px solid #EAEAEB;}
.jiage-a dd{ width:806px; float:left;  border-bottom:1px solid #EAEAEB;}
.jiage-a dd .aa{ width:124px; float:left;}
.jiage-a dd .ac{ width:380px; float:left;}
.jiage-a .dx{ width:106px; float:left; font-weight:bold;  border:none; }
.jiage-d{ width:542px; margin:20px 0 0 106px; border:1px solid #EAEAEB; float:left; display:inline;}
.jiage-d dl{ padding:5px; float:left; display:inline;}
.jiage-d dt{ float:left; width:45px; height:51px;}
.jiage-d dd{ float:right; width:480px; line-height:24px;}
.jiage-d dd .ea{ float:left; width:126px; line-height:24px; text-align:left;}
.jiage-d dd img{ float:right;}

/*详情相册*/
.xingp-l{ width:658px; float:left; }
.grapxq{ width:658px; margin:40px 0 0 0; float:left;}
.grapxq-tel{ height:32px; border-bottom:1px solid #EAEAEB;}
.grapxq-tel .bm{ float:left; line-height:32px; margin:0 0 0 12px; font-size:13px;}
.grapxq-tel .tm{ float:right; line-height:32px; margin:0 5px 0 0;}
.grapxq-con{ width:658px; margin:8px 0 0 0;}
.grapxq-con img{ width:214px; height:160px; } 
.grapxq-con li{ line-height:32px; background:#EAEAEA; border:1px solid #EAEAEB; text-align:center; width:214px; float:left;}
.grapxq-con .gb{ margin:0 5px;}
.xingp-r{ width:265px; margin:0 0 0 9px; float:right;}
.grapxp{ width:265px; margin:40px 0 0 0; float:left;}
.grapxp-tel{ height:32px;}
.grapxp-tel .bm{ float:left; line-height:32px; margin:0 0 0 12px; font-size:13px;}
.grapxp-con .tm{ line-height:32px; border:none; text-align:right; background:none;}
.grapxp-con{ width:219px; border:1px solid #EAEAEB; padding:0 22px;}
.grapxp-con ul{ margin:10px auto 0 auto; text-align:center;}
.grapxp-con img{width:214px; height:160px; }
.grapxp-con li{ line-height:32px; background:#EAEAEA; border:1px solid #EAEAEB; text-align:center; width:214px; margin:20px 0 0 0;}

/*楼盘动态*/
.jiages{ margin:10px 0; padding-left:10px; width:922px;}
.jiages dl{ width:922px; line-height:28px; float:left;}
.jiages dt{ width:50px; float:left;}
.jiages dd{ width:856px; float:right;}

/*楼盘评论*/
.pingl{ width:550px; height:136px; border:1px solid #ccc; margin:8px auto 40px auto; float:left;}
.pingl-tec{ line-height:16px; margin:3px 2px; width:548px;}
.pingl-tetl{ width:40px; height:20px; background:#BB0E13; float:right; margin:5px 5px 0 0; display:inline; color:#FFFFFF;}
.pingl-tet{ width:926px; margin:10px 0; border:1px solid #EAEAEB; float:left; padding:1px;}
.pingl-tett{ width:305px; float:left; overflow:hidden;}
.pingl-tettfd{ width:306px; background:#BB0E13; text-align:center; color:#FFFFFF;line-height:30px; float:left;}
.pingl-tett li{ width:268px; padding:15px 10px 0 10px; float:left; line-height:22px; color:#5B5B5B;}
.pingl-tett li li{ width:268px; padding:15px; line-height:22px; color:#5B5B5B; text-align:right;}
.pingl-tettce{ width:305px;border-right:1px solid #EAEAEB;}
.pingl-tettces{ width:305px; float:left; overflow:hidden; border:none}

/*翻页*/
.pailie{ margin:15px 0 10px 0; height:22px; line-height:22px; float:right;}
.pailie ul{ width:100px; float:right; margin-right:5px;}
.pailie ul li{ width:20px; height:20px; float:left;border:#000 1px solid; text-align:center; margin-left:5px; line-height:20px;}




/*电子地图*/
.map-mune{ width:932px; height:29px; margin:5px auto; line-height:29px;}
.map-mune ul{ padding-left:10px; color:#000; }
.map-mune ul li{ float:left; line-height:29px; text-align:center;}
.map-mune ul li a{ color:#000; font-size:12px; line-height:29px; float:left; *color:#000  !important; width:78px;} 
.map-mune ul li a:hover{ color:#000; text-decoration:none; height:29px; display:block; color:#0055d8 !important; float:left; background-image: url(../images/mapme-hover.gif);
	background-repeat: no-repeat;
	background-position: center center;}
.map-mune ul li img{ width:16px; height:16px; line-height:29px; float:left; margin:5px 0 2px 2px; display:inline;}
.map-mune ul .current{
	color:#000 !important;
	float:left;
	background-image: url(../images/mapme-hover.gif);
	background-repeat: no-repeat;
	background-position: center center;
	line-height:29px;
	width:78px;
	height:29px;
}
.dian-map{ width:700px; height:420px; float:left; margin:0 0 0 4px; display:inline;}

/*页面搜索*/
.SelectOut{height:59px; margin:20px auto; width:990px;}
.SelectOut .selectLeft{ width:154px; float:left;}
.SelectOut .selectRight{ width:834px; float:right;}
.selectRight .single{ height:23px; }
.selectRight span{width:95px; float:left; margin-left:9px; display:inline;position:relative; _margin-left:7px;}
.selectRight input{border:#36a3e0 1px solid; color:#9bc7e0; font-family:"宋体"; font-size:12px; width:95px; height:23px; background:url(../images/select_img.jpg) 73px center no-repeat; vertical-align:middle; line-height:22px; background-color:#eaeaeb;}
.selectRight span .Menu {width:95px;display:none;background: #FFF; border:#36a3e0 1px solid; position:absolute; top:23px; left:0; z-index:9999;}
.selectRight span .Menu ul{width:98%;overflow:hidden;z-index:1; margin-bottom:5px;}
.selectRight span .Menu ul li{width:98%;height:20px;line-height:20px;text-indent:5px; font-size:12px; color:#8b8bb8;
border-bottom:1px dashed #ccc; cursor:pointer;}
.SelectOut .selectRight .multiple{ margin-left:2px; width:834px; clear:both; overflow:hidden; margin-top:12px; _margin-top:8px; _ width:830px; _margin-left:0px;}
.SelectOut .multiple input{ margin-left:7px; width:95px; float:left; _margin-left:7px;}
.SelectOut .multiple form{ float:left;}
.SelectOut .multiple .selectText{ background-image:none; width:199px; background-color:#eaeaeb; text-indent:5px; height:23px; line-height:23px; _width:199px;}
.SelectOut .multiple .selectBut{height:25px; border:none; width:97px; _width:94px;}


.Area{ width:990px; margin:10px auto; color:#0566ad; clear:both; font-size:12px; overflow:hidden;}
.Area li{ width:41px; float:left; border-right:#0566ad 1px solid; text-align:center; height:15px; line-height:15px;}
.Area a{ color:#0566ad;} 
.banner{ width:990px; margin:10px auto;}
.banner-a{ width:932px; margin:20px 0; text-align:center; color:#666px; line-height:25px; float:left;}
.banner-a li{  width:932px; line-height:25px; float:left;}

.jiages a{ color:#000;}

/*弹窗*/
.windowOut,.windowOut2{ width:458px; height:458px; background-image:url(../images/tanchuang.png); padding:1px; margin:auto;}
.windowOut div{ width:290px; margin:80px auto 0 auto; overflow:hidden;}
.windowOut div font{ margin:70px 30px 0 30px; color:#FFF; display:block; }
.windowOut div .text-pic{border:#FFF 1px solid; margin:20px 40px 0 40px; width:190px; height:24px; background-image:url(../images/yuanping.png); padding:5px; color:#a4dd8a;}
.but-tijiao{ margin:35px 0 0 90px;}

.windowCenter{ width:290px; margin:130px auto 0 auto; overflow:hidden; text-align:center; line-height:25px;}
.windowCenter ul{ display:block; color:#fff; overflow:hidden;}
.windowCenter ul li{ width:230px; margin:5px auto 0 auto; text-align:center;}
.windowCenter ul li span{ width:90px; float:left;}
.windowCenter ul li div{ width:110px; background-color:#c8eab9; height:5px; float:left; margin-top:9px;}
.windowCenter ul li font{ width:10px; float:left; margin-left:5px;}
.windowCenter .text-pj{ font-size:12px; color:#fff; display:block; margin:10px auto 15px auto;}

.windowOut3,.windowOut4{ width:458px; height:458px; background-image:url(../images/tanchuang1.png); padding:1px; margin:auto;}
.windowOut3 div,.windowOut4 div{ width:290px; margin:160px auto 0 auto; overflow:hidden; text-align:center; line-height:25px; color:#FFF;}
.windowOut3 a{ color:#FFF; text-decoration:underline;}
.text-email{border:#FFF 1px solid; margin:20px 40px 30px 40px; width:190px; height:24px; background-image:url(../images/textBG.png); padding:5px; color:#e78ac9;}

.windowOut4 div{ margin:190px auto 0 auto;}
.windowOut4 input{ margin-top:30px;}

/*评分*/
.pinfen{ width:300px; float:left; margin-left:275px; height:28px; line-height:32px; display:inline;position:relative;}
.pinfen font{ width:40px; float:left;}
.pinfen li{ width:28px; float:left;}
.pinfen ul,.pinfen span{ float:left;display:inline;height:28px;line-height:28px;}
.pinfen ul{margin:0 10px;}
.pinfen li{float:left;cursor:pointer;text-indent:-9999px; background:url(../images/starB.jpg) no-repeat; width:29px; height:28px;}
.pinfen strong{color:#f60;padding-left:10px;}
.pinfen li.on{ background-image:url(../images/star3.png);}
.pinfen p{position:absolute;top:20px;width:159px;height:60px;display:none;padding:7px 10px 0; }
.pinfen p em{color:#f60;display:block;font-style:normal;}
/*End评分*/

/*评论*/
.Y04rizhi_tab{width:932px; font-size:14px; color:#fff; height:25px; border-bottom:1px solid #D2D2D4; clear:both;}
.Y04rizhi_tab ul{ margin-left:20px; padding:0;}
.Y04rizhi_tab li{ height:25px; float:left; display:inline; line-height:25px; text-align:center;cursor:pointer; padding:0 8px;background:#DA9EA0; border-right:1px solid #EAEAEC;}
.Y04rizhi_tab li.on_zzjs{color:#bb0e13; border-top:1px solid #D1D2D4; border-left:1px solid #D1D2D4; border-right:1px solid #D1D2D4; background:#fff;}

.pinlun{ clear:both; padding:1px; }
.pinlun li{ border:#DCDDDE 1px solid; margin:10px auto 0 auto;overflow:hidden; color:#6D6E71; width:932px;}
.pinlunPhoto{ border:#DCDDDE 1px solid; width:145px; height:118px; margin:10px; float:left;}
.pinlunPhoto img{ margin:20px 0 5px 45px;}
.pinlunPhoto font{ display:block; text-align:center; width:145px; line-height:20px;}
.pinlunCenter{ width:750px; float:left;}
.pinlunCenter span{ display:block; line-height:20px; margin-top:6px;}
.pinlunCenter span font{ float:right; font-size:16px; color:#a00000;}
.pinlunCenter span b{ font-size:12px;}
.pinlunCenter textarea{ line-height:20px; width:550px; float:left; font-size:12px; background-color:#fff; margin:5px auto; _display:inline-block; _vertical-align:bottom;}
.pinlunCenter p img{ vertical-align:bottom;}

.pingji{ width:200px; float:left; text-align:center; margin:40px auto 0 auto;}
.pingji ul{ width:150px; margin:auto; overflow:hidden;}
.pingji li{ border:none; width:29px; margin:0; float:left; height:28px;}
.pingji span{ display:block; width:200px; clear:both;}

.bianji{ border-top:#DCDDDE 1px solid;width:550px; margin-top:10px; clear:both; height:25px; position:relative; bottom:0px;}
.bianji span{ width:40px; float:left; text-align:center; height:13px; line-height:21px; margin-top:2px;}
.bianji span img{ margin:4px 4px 0 0;}
.bianji1{ border-top:#DCDDDE 1px solid;width:550px; margin-top:10px; clear:both;}
.bianji1 textarea{ margin-top:10px;overflow-x:hidden;overflow-y:hidden; width:550px; background-color:#fff; border:#DCDDDE 1px solid;}
.bianji1 input{ margin-bottom:10px; margin-right:0px;}
.biaoqin1{ width:550px;}
.biaoqin1 li{ width:40px; height:40px; float:left;  border:0px; margin-left:2px;}
/*End评论*/


/*表情*/
.biaoqin{width:370px; border:#DCDDDE 1px solid; float:left; margin-top:8px; margin-left:5px;}
.biaoqin li{ float:left; margin:3px 0 2px 1px;}
/*End表情*/


/*佣金率*/
.yjl{width:934px; height:81px; margin:30px auto; clear:both;background-image:url(../images/yjlBg.gif);}
.yjl img{ float:left;}
.yjl span{display:block; margin:26px 0 0 126px; float:left; color:#fff; width:82px; height:28px; line-height:28px; text-align:center;}
.yjl ul{ float:right; width:620px; margin-top:18px;}
.yjl ul li{ width:120px; float:left; text-align:center; font-size:24px; letter-spacing:3px; font-family:"微软雅黑";}
.yjl ul li a{ color:#2590d6;}
.yjl ul li a:hover{ color:#005EAC; text-decoration:none;}
/*End佣金率*/




