@charset "utf-8";
/* CSS Document */
.middle{ background-color:#FFF; overflow:hidden;}

.breadCrumb{ width:647px; line-height:25px; margin:10px 0 0 20px; text-indent:10px;}
.breadCrumb span{ float:right;}
.breadCrumb span font{ color:#BB0E13;}

.NewsOut{ width:960px; margin:auto; border:#DCDDDE 1px solid;clear:both; border-bottom:none; overflow:hidden;}
.NewsLeft{ width:646px; float:left; border-right:#DCDDDE 1px solid; font-size:14px;}
.NewsLeft h1{ text-align:center; margin:20px auto 10px auto; font-size:18px; font-family:"黑体"; font-weight:normal;}
.NewsLeft p{ width:550px; margin:10px auto 0 auto; line-height:28px; text-indent:15px;}
.NewsLeft .subhead{ text-align:center; color:#A7A9AC ; font-size:12px;}
.shuoming{ width:525px; margin:23px auto; border:#DCDDDE 1px solid; background-color:#f6f6f6;}
.shuoming p{ text-indent:15px; line-height:28px; margin:15px auto; width:460px;}
.xiayiye{ text-align:center;}
.xiayiye a{ color:#005EAC;}
.NewsLeft .leftimg{ margin:10px auto; width:525px; text-align:center;} 
.lefttext{ margin-top:25px; overflow:hidden;}

.NewsRight{ width:312px; float:left;}
.NewsRight .RightImg{ display:block; margin:20px auto; width:281px; padding:2px; border:#DCDDDE 1px solid;}
.NewsRight ul{ width:281px; margin:10px auto;}
.NewsRight ul li a{ color:#000; line-height:25px;}
.NewsRight ul font{ float:right; color:#A7A9AC;}


#fenye{ margin:60px auto 60px 60px; width:600px; overflow:hidden; _margin:60px auto 60px 40px;}